.logoImg {
  width: 100px;
  height: 100px; }

.nav-link {
  font-size: 30px;
  color: black;
  font-family: helvetica; }

.nav-item {
  font-size: 30px;
  color: black;
  font-family: helvetica; }

nav {
  background-color: white; }
  nav ul {
    display: flex; }
    nav ul li {
      text-decoration: none; }
      nav ul li a {
        color: violet; }
        nav ul li a:hover {
          color: #6FB2D2; }

* {
  margin: 0px;
  padding: 0px; }

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  font-family: helvetica; }

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  font-family: helvetica;
  background-color: white; }

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  font-family: helvetica; }

.losLorem {
  background-color: #6FB2D2;
  font-family: "League Spartan", sans-serif; }

.formularioCapture {
  background-color: violet; }

.parrafoFluid {
  font-size: 30px; }

footer {
  background-color: black;
  font-family: "League Spartan", sans-serif; }

.backgroundPrimario {
  color: violet; }

.backgroundSecundario {
  color: black; }

.backgroundAgregado {
  color: blue; }

.colorFijo {
  color: red; }

.colorAgregado {
  color: #6FB2D2; }

footer {
  color: white;
  justify-content: center;
  font-size: 10px;
  margin: 0px;
  padding: 0px; }

.boton, .boton-aceptar, .boton-cancelar {
  background-color: white;
  width: 80px;
  height: 30px;
  font-size: 15px;
  color: red;
  border: 2px solid black;
  border-radius: 15px; }

.boton-aceptar {
  background-color: green;
  color: black;
  border: 1px solid black;
  border-radius: 10px; }

.boton-cancelar {
  background-color: red;
  color: black;
  border: 1px solid black;
  border-radius: 10px; }

p {
  color: black;
  background-color: #6FB2D2;
  font-size: 20px; }
