.boton {
	background-color: white;
	width: 80px;
	height: 30px;
	font-size: 15px;
	color: red;
	border: 2px solid black;
	border-radius: 15px;
}

.boton-aceptar {
	@extend .boton;
	background-color: green;
	color: black;
	border: 1px solid black;
	border-radius: 10px;
}
.boton-cancelar {
	@extend .boton;
	background-color: red;
	color: black;
	border: 1px solid black;
	border-radius:10px;
}